@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "flyonui"{
  themes: all;
}
@import "flyonui/variants.css";
@source "../../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

@layer base {
  :root {
    --color-text-base: #333333;
    --color-bg-base: #ffffff;
  }

  .dark {
    --color-text-base: #f0f0f0;
    --color-bg-base: #121212;
  }

  body {
    color: var(--color-text-base);
    background-color: var(--color-bg-base);
  }
}

/* 临时调试样式 - 解决问题后可以删除 */
.btn, .menu-item, .navbar a, .drawer a {
  color: currentColor !important;
}